---
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Outline } from "../../components/Outline.jsx";
import { getTranslator } from "../../libs/i18n.js";
import Info from "../../components/Info.astro";
import Collection from "../../components/Collection.astro";
import Prose from "../../components/Prose.astro";
import type { OptionsCollection } from "../../../config.ts";
import {
  itemNormalizer,
  allDurationForSeries,
} from "../../functions/article.ts";
import { Chapiter } from "../../components/Chapiter.tsx";

interface Props {
  serie: CollectionEntry<"series">;
}

export const getStaticPaths = (async ({ paginate }) => {
  const series = await getCollection("series");
  return series.map((serie) => ({
    params: { id: serie.id.split("__")[0] },
    props: { serie },
  }));
}) satisfies GetStaticPaths;

const { serie } = Astro.props;

const { Content } = await render(serie);

const { title, author, pubDate, relatedPosts, summary } = serie.data;

const relatedPostsEntries = await Promise.all(
  relatedPosts
    ? relatedPosts?.map(
        async (item) => await getEntry(item.collection, item.id)
      )
    : []
);

//@ts-ignore
const durationForSeries = await allDurationForSeries(relatedPostsEntries);

//@ts-ignore
const doc = itemNormalizer(relatedPostsEntries);

const options: OptionsCollection = {
  showYear: true,
};

const __ = await getTranslator(Astro.currentLocale);
---

<Layout>
  <section data-markdown>
    <div class="container">
      <div class="container-narrow">
        <Info serie={serie} readingTime={durationForSeries} />
      </div>
    </div>

    <div class="container">
      <div class="container-narrow">
        <div class="divide-y divide-[var(--border-color)]">
          {
            doc.map((collection) => (
              <Collection {...collection} options={options} />
            ))
          }
        </div>
      </div>
    </div>

    <div class="container">
      <div class="wrapper-content pt-10">
        <Prose>
          <Content />
        </Prose>
        <div class="wrapper-outline translate-x-6">
          <Outline client:load />
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .container,
  .wrapper-content {
    overflow: visible;
  }

  .article__paragraph {
    padding-block: 1rem;
  }

  .description {
    padding-block: 3rem;
  }

  .info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .wrapper-content {
    /* max-width: 600px; */
    display: block;
  }

  .wrapper-outline {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    .wrapper-content {
      width: 100%;
      display: grid !important;
      grid-template-columns: 1fr 600px 1fr !important;
      padding: 0;
    }

    .wrapper-outline {
      display: block;
      grid-column: 3;
      margin-bottom: 5rem;
    }
  }

  h1 {
    text-align: left;
    padding-top: 3rem;
    line-height: 1.4;
  }

  .cover {
    width: 100%;
  }

  .meta {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 0.5rem;
    padding-bottom: 4rem;
    font-family: "JetBrains Mono" !important;

    & > * {
      font-family: "JetBrains Mono" !important;
      letter-spacing: -0.5px;
      color: var(--color-secondary);
    }
  }

  @media screen and (max-width: 590px) {
    .container-narrow .info .tags {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  @media screen and (min-width: 1300px) {
    .heading {
      img {
        max-height: 500px;
      }
    }
  }
</style>

<!-- <script>
  import { mapItems } from "../../store.ts";

  function openDialog() {
    mapItems.set(true);
  }

  // Add an event listener to the button
  document.getElementById("openDialog").addEventListener("click", openDialog);
</script> -->
