---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Blog from "../components/Blog.astro";
import { getTranslator } from "../libs/i18n.ts";

export type PropsBlog = CollectionEntry<"blog">;

const articles = await getCollection("blog");

const __ = await getTranslator(Astro.currentLocale);
---

<Layout>
  <div class="container home">
    <Hero />

    {articles.length >= 1 && <Blog title={__("Mes dernfiers articles")} />}
  </div>
</Layout>

<style>
  .home {
    overflow: hidden;
  }
</style>
