---
import { getCollection } from "astro:content";
import { filterLang, filterSeries } from "../libs/i18n.ts";
import type { CollectionEntry } from "astro:content";
import Collection from "./Collection.astro";
import type { ItemDisplayed, OptionsCollection } from "../../config.ts";
import { itemNormalizer } from "../functions/article.ts";
import Card from "./Card.astro";

interface Props {
  title?: string;
  limit?: number;
}

const allPages = await getCollection("blog", filterLang(Astro.currentLocale));

const { title, limit } = Astro.props;

const doc = itemNormalizer(allPages);

const options: OptionsCollection = {
  showYear: false,
};
---

<section class="blog">
  <!-- {
      title && (
        <h3 class="title animate-slide-in animation-delay-300">{title}</h3>
      )
    } -->
  <div class="flex flex-col divide-y divide-[var(--secondary)]">
    <div
      class="hidden pb-5 lg:bloc lg:text-sm lg:grid lg:grid-cols-5 w-full animate-fade-in animation-delay-300"
    >
      <div>/ DATE</div>
      <div>/ NAME</div>
    </div>
    <div data-list__articles class="flex flex-1 flex-col">
      {doc.map((collection) => <Card {...collection} options={options} />)}
    </div>
  </div>
  <!-- <div class="w-[400px]"></div> -->
</section>

<style>
  .blog {
    padding-bottom: 5rem;
  }

  .blog a {
    display: inline-flex;
  }
</style>
