---
import { getCollection } from "astro:content";
import { filterLang } from "../libs/i18n.ts";
import type { CollectionEntry } from "astro:content";
import Collection from "./Collection.astro";
import type { ItemDisplayed, OptionsCollection } from "../../config.ts";

interface Props {
  title?: string;
  limit?: number;
}

const filterSeries = (entry: CollectionEntry<"series">) => {
  if (!entry.filePath) {
    throw Error("file not found...");
  }
  return entry.filePath.endsWith(".json");
};

const docSeries = await getCollection("series", filterSeries);

const series = docSeries.map((item) => ({
  title: item.id.split("/")[0],
  ...item,
}));

const allPages = await getCollection("blog", filterLang(Astro.currentLocale));

const articles: ItemDisplayed[] = [...allPages, ...series].map((page) => {
  const [lang, ...slug] = page.id.split("/");
  return {
    params: { lang, slug: slug.join("/") || undefined },
    props: page,
  };
});

const { title, limit } = Astro.props;

const displayedArticles = limit ? articles.slice(0, limit) : articles;

function groupPostsByYear(posts: ItemDisplayed[]) {
  const postsByYear: Record<string, ItemDisplayed[]> = {};

  for (const post of posts) {
    if (!post.props.data.pubDate) {
      continue;
    }
    const date = new Date(post.props.data.pubDate);
    const year = date.getFullYear().toString();
    if (!postsByYear[year]) {
      postsByYear[year] = [];
    }
    postsByYear[year].push(post);
  }

  for (const year of Object.keys(postsByYear)) {
    postsByYear[year].sort((a, b) => {
      if (!a.props.data.pubDate) return 1;
      if (!b.props.data.pubDate) return -1;

      return (
        new Date(b.props.data.pubDate).getTime() -
        new Date(a.props.data.pubDate).getTime()
      );
    });
  }

  return postsByYear;
}

const allPostsByYear = groupPostsByYear(displayedArticles);

const doc = Object.keys(allPostsByYear)
  .sort((a, b) => Number(b) - Number(a))
  .map((year) => ({
    year: year,
    items: allPostsByYear[year],
  }));

const options: OptionsCollection = {
  description: true,
  showYear: false,
};
---

<section class="blog container-narrow">
  {title && <h3 class="title">{title}</h3>}
  <div
    data-list__articles
    class="flex flex-1 flex-col divide-y divide-[var(--border-color)]"
  >
    {doc.map((collection) => <Collection {...collection} options={options} />)}
  </div>
</section>

<style>
  .blog {
    padding-bottom: 5rem;
  }
  .blog a {
    display: inline-flex;
  }

  @media screen and (max-width: 590px) {
    .blog article.item h3 {
      line-height: 1.6;
    }
  }

  .blog h3.title {
    font-family: "Inter" !important;
    font-weight: 100;
    font-size: 2rem !important;
  }

  .blog p {
    padding: 0;
  }
</style>
