---
import { getCollection } from "astro:content";
import { filterLang, filterSeries } from "../libs/i18n.ts";
import type { CollectionEntry } from "astro:content";
import Collection from "./Collection.astro";
import type { ItemDisplayed, OptionsCollection } from "../../config.ts";
import { itemNormalizer } from "../functions/article.ts";

interface Props {
  title?: string;
  limit?: number;
}

const docSeries = await getCollection(
  "series",
  filterSeries(Astro.currentLocale)
);

const series = docSeries.map((item) => ({
  title: item.id.split("/")[0],
  ...item,
}));

const allPages = await getCollection("blog", filterLang(Astro.currentLocale));

const { title, limit } = Astro.props;

const doc = itemNormalizer([allPages, series]);

const options: OptionsCollection = {
  description: true,
  showYear: false,
};
---

<section class="blog container-narrow">
  {title && <h3 class="title animate-slide-in animation-delay-300">{title}</h3>}
  <div
    data-list__articles
    class="flex flex-1 flex-col divide-y divide-[var(--border-color)]"
  >
    {doc.map((collection) => <Collection {...collection} options={options} />)}
  </div>
</section>

<style>
  .blog {
    padding-bottom: 5rem;
  }
  .blog a {
    display: inline-flex;
  }

  @media screen and (max-width: 590px) {
    .blog article.item h3 {
      line-height: 1.6;
    }
  }

  .blog h3.title {
    font-family: "Inter" !important;
    font-weight: 100;
    font-size: 2rem !important;
  }

  .blog p {
    padding: 0;
  }
</style>
