<div
  class="effect-blur pointer-events-none fixed inset-0 z-50 h-10 w-screen md:h-16"
>
</div>
<div
  class="from-background pointer-events-none fixed inset-0 z-50 h-4 w-screen bg-gradient-to-b to-transparent"
>
</div>
