---
import { ContentType } from "../../config.ts";
import Badge from "./Badge.astro";
interface Props {
  contentTypeId: ContentType;
}

const { contentTypeId } = Astro.props;

const url = Astro.url;

const segments = url.pathname.split("/").filter(Boolean);
const showBreadcrumb = segments.length > 2;

const breadcrumbs = segments.slice(1).map((segment, index) => {
  const path = "/" + segments.slice(0, index + 2).join("/") + "/";
  const isLast = index === segments.length - 2;
  const isActive = url.pathname === path || isLast;
  return { segment, path, isLast, isActive };
});
---

<div
  class="breadcrumb [&>*:not(:last-child)]:after:content-['·'] after:hidden animate-fade-in animation-delay-200"
>
  <Badge contentTypeId={contentTypeId} />

  {
    showBreadcrumb &&
      breadcrumbs.map(({ segment, path, isLast, isActive }) => (
        <div>
          {isLast ? (
            <span
              aria-current="page"
              class="opacity-100 text-[var(--color-primary)]! transition-opacity duration-300"
            >
              {segment}
            </span>
          ) : (
            <a
              href={path}
              aria-current={isActive ? "page" : undefined}
              class:list={[
                "transition-opacity duration-300",
                {
                  "opacity-100": isActive,
                  "opacity-50": !isActive,
                },
              ]}
            >
              {segment}
            </a>
          )}
        </div>
      ))
  }
</div>

<style>
  .breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .breadcrumb > * {
    font-family: "JetBrains Mono" !important;
  }
</style>
