---
interface Props {
  isShowYear?: boolean;
  date: Date | undefined;
}

const optionsDate = (isShowYear: boolean): Intl.DateTimeFormatOptions => {
  if (!isShowYear) return { dateStyle: "short" };
  return { month: "2-digit", day: "2-digit" };
};

const { date, isShowYear } = Astro.props;

const dateFormate = new Intl.DateTimeFormat(
  Astro.currentLocale,
  optionsDate(isShowYear ?? false) ?? { dateStyle: "short" }
).format(date);

const tranformDate = (date: string) => {
  if (!isShowYear) {
    return date.replaceAll("/", ".");
  }
  return date;
};
---

<span>
  {tranformDate(dateFormate)}
</span>
