---
import { Image } from "astro:assets";
import { Picture } from "astro:assets";
import HeroImage from "../../public/hero.png";
---

<section class="hero container-narrow">
  <div class="wrapper">
    <div class="info">
      <div class="title">
        <h1>Blog - Formation Fullstack pour développeur</h1>
      </div>
      <p class="description">
        Formation des développeurs de demain avec Next.js, React, TypeScript,
        Prisma, PostgresQL, TailwindCSS et l'IA.
      </p>
    </div>

    <div class="left">
      (scroll)
      <div class="icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          ><path
            d="M13.0001 1.99974L11.0002 1.9996L11.0002 18.1715L7.05044 14.2218L5.63623 15.636L12.0002 22L18.3642 15.636L16.9499 14.2218L13.0002 18.1716L13.0001 1.99974Z"
          ></path></svg
        >
      </div>
    </div>
  </div>
</section>

<style>
  .title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .title h1 {
    text-align: left;
    font-weight: 100;
    font-size: 3.5rem;
    font-style: italic;
  }

  .title span {
    font-weight: 100 !important;
    font-size: 1.5rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  img.hero-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    object-fit: cover;
  }

  @media screen and (min-width: 1350px) {
    .description {
      max-width: 650px !important;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  strong {
    font-weight: 700;
  }

  /* Desktop (769px et plus) */
  @media only screen and (min-width: 769px) {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(max(500px, 100%), 1fr));
      place-items: flex-start;
      justify-items: anchor-center;
      /* gap: 4rem; */
    }
  }
  .left {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    font-size: 0.9rem;
  }

  form.label input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
  }

  input::placeholder {
    color: rgba(255, 255, 255, 0.484);
  }

  .icon {
    width: 24px;
    height: 24px;
  }
</style>
