---
interface Props {
  href: string;
}
const { href } = Astro.props;
---

<a href={href}>
  <span aria-hidden="true" class="absolute"></span>
  <slot />
</a>

<style>
  .absolute {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  a {
    width: fit-content;
    height: 100%;
    /* position: relative; */
  }
</style>
