<div
  class="content prose md:prose-lg md:prose-headings:text-4xl prose-headings:font-normal prose-p:font-extralight animate-slide-in animate-fade-in animation-delay-300"
>
  <slot />
</div>

<style>
  @media screen and (min-width: 1200px) {
    .content {
      grid-column: 2;
      padding-bottom: 5rem;
    }
  }

  .content {
    padding-bottom: 5rem;
  }
</style>
