<div class="content prose prose-md animate-slide-in animation-delay-300">
  <slot />
</div>

<style>
  .wrapper-content {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    .content {
      grid-column: 2;
      padding-bottom: 5rem;
    }
  }

  .content {
    padding-bottom: 5rem;
  }
</style>
