---
import { getTranslator } from "../libs/i18n.ts";

interface Props {
  time: number;
}

const { time } = Astro.props;
const __ = await getTranslator(Astro.currentLocale);
---

<span class="animate-slide-in animation-delay-200">
  {Math.ceil(time) + " " + "min"}
  {__("de lecture")}
</span>

<style>
  span {
    font-family: "JetBrains Mono" !important;
    letter-spacing: -0.5px;
    color: var(--color-secondary);
  }
</style>
