---
import { getTranslator } from "../libs/i18n.ts";
import Button from "@portfolio/ui/Button";

interface Props {
  time: number;
  icon?: boolean;
}

const { time, icon = false } = Astro.props;
const __ = await getTranslator(Astro.currentLocale);
---

<span> {Math.ceil(time) + " " + "min"}</span>

<!-- 
<div class="animate-slide-in animation-delay-200">
  <Button>
    <span class="btn-click magnetic" data-strength="45" data-strength-text="25">
      <div class="btn-fill 0"></div>
      <span class="btn-text">
        <span class="btn-text-inner change">
          <span class="">
            <div class="flex items-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-timer-icon lucide-timer"
                ><line x1="10" x2="14" y1="2" y2="2"></line><line
                  x1="12"
                  x2="15"
                  y1="14"
                  y2="11"></line><circle cx="12" cy="14" r="8"></circle></svg
              >
              <span> {Math.ceil(time) + " " + "min"}</span>
            </div>
          </span>
        </span>
      </span>
    </span>
  </Button>
</div> -->
