---
import { getEntry } from "astro:content";
import type { CollectionEntry, ReferenceDataEntry } from "astro:content";
interface Props {
  author: ReferenceDataEntry<"authors", string>;
}

const { author } = Astro.props;
const writer = await getEntry(author.collection, author.id);
---

<span> {writer?.data.name} </span>
