.bento {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.bento__item {
  border-radius: 0.5rem;
  padding: 1rem;
  border: var(--border);
}

.bento__item:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.bento__item:last-child {
  grid-column: 2 / span 2;
}
