:root {
  --container-padding: 1rem;
  --container-width: calc(100vw - var(--container-padding) * 2);
}

@media only screen and (min-width: 900px) {
  :root {
    --container-padding: 32px;
  }
}

@media only screen and (min-width: 1370px) {
  :root {
    --container-padding: 20px;
    --container-width: 1330px;
  }
}

.container > * {
  box-sizing: border-box;
  max-width: min(
    var(--container-width),
    calc(100% - 2 * var(--container-padding))
  );
  margin-inline: auto;
}

.container-narrow {
  --container-width: 700px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}

.stack {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.5rem;
}
