<footer>
  <div class="container">
    <div class="grid">
      <div class="left">
        <div class="newsletter">
          <h4>A propos</h4>
          <p>
            <!-- I’m a web developer passionate about crafting sustainable and
            human-centered experiences. I bring adaptable, thoughtful solutions
            to a constantly evolving digital world. -->

            Ingénieur logiciel, je conçois des systèmes numériques robustes,
            durables et centrés sur l’utilisateur.
            <br />
            J’allie exigence technique à l’expérience vécue , avec une approche à
            la fois pragmatique et humaine.
          </p>
        </div>
      </div>

      <div class="right">
        <div class="contact">
          <!-- <form class="label">
            <input
              id="email"
              name="email"
              type="text"
              placeholder="Entrez votre email"
            />
            <button class="btn btn-secondary">
              <span class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  ><path
                    d="M13.0508 12.361L7.39395 18.0179L5.97974 16.6037L11.6366 10.9468L6.68684 5.99707H18.0006V17.3108L13.0508 12.361Z"
                  ></path></svg
                >
              </span>
              Envoyer</button
            >
          </form> -->
          <div class="info">
            <ul class="links">
              <a href="https://github.com/elyseeMB">
                <li>Github</li>
              </a>
              <!-- <a href="">
                <li>Instagram</li>
              </a> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    display: grid;
    width: 100%;
    height: 400px;
    background-color: #000;
  }

  footer p {
    color: white;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    padding-block: 5rem;
  }

  @media only screen and (min-width: 769px) {
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
      align-content: space-between;
      place-items: flex-end;
      place-content: center;
      gap: 4rem;
    }
  }

  .newsletter {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .newsletter h4 {
    font-weight: 700;
    font-size: 4rem;
    color: white;
    font-family: "Bricolage Grotesque" !important;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr;
    place-items: flex-end;
    gap: 2rem;
  }

  .info a > * {
    color: white !important;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .links ul li:hover {
    color: var(--contrast-2) !important;
  }

  .links a:hover {
    color: white;
    text-decoration: underline;
  }
</style>
