<header>
  <div class="container">
    <div class="wrapper">
      <div class="flex">
        <div class="logo">
          <a href="/">
            <svg
              width="40"
              height="40"
              id="logo"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 12 12"
            >
              <defs>
                <style>
                  .cls-1,
                  .cls-2 {
                    stroke-width: 0px;
                  }

                  .cls-2 {
                    fill: #007aec;
                  }
                </style>
              </defs>
              <circle class="cls-2" cx="6" cy="6" r="5.5"></circle>
              <path
                class="cls-1"
                d="m6,1c2.76,0,5,2.24,5,5s-2.24,5-5,5S1,8.76,1,6,3.24,1,6,1m0-1C2.69,0,0,2.69,0,6s2.69,6,6,6,6-2.69,6-6S9.31,0,6,0h0Z"
              ></path>
            </svg></a
          >
        </div>
        <div class="action">
          <div class="contact">
            <a href="mailto:mboussaemmanuelito@gmail.com">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                ><path
                  d="M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM20 7.23792L12.0718 14.338L4 7.21594V19H20V7.23792ZM4.51146 5L12.0619 11.662L19.501 5H4.51146Z"
                ></path></svg
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<style>
  header {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 87px;
  }

  .contact {
  }

  .contact a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0.5rem;
    transition: 0.3s;
  }

  .contact:hover {
    border-radius: 0.5rem;
    background: rgba(128, 128, 128, 0.123);
  }

  .contact svg {
    fill: var(--color-secondary);
  }

  header .wrapper {
    width: 100%;
  }

  header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0;
  }
</style>
