/* TYPOGRAPHIE */
h1,
h2,
h3,
h1 span,
h2 span,
h3 span {
  font-family: "Bricolage Grotesque" !important;
  color: var(--color-primary);
}

h1 {
  letter-spacing: -5px;
  font-size: 6rem;
  line-height: 0.9;
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  h1 {
    letter-spacing: -2.5px;
    line-height: 1;
    font-size: 4rem;
  }
}

@media screen and (min-width: 1350px) {
  h1 {
    font-size: 7rem;
  }
}

h2 {
  font-size: 4rem;
  letter-spacing: -2px;
}

h3 {
  font-family: "Bricolage Grotesque" !important;
  font-size: 3rem;
  letter-spacing: -2px;
  font-weight: 500;
}

p {
  color: var(--color-secondary);
}

h4,
h5,
h6,
*,
body {
  font-family: "Inter" !important;
  color: var(--color-primary);
}

p {
  font-size: var(--size);
  line-height: var(--line-height);
}
