---
import { PhotoGrid } from "./PhotoGrid.tsx";
import { SkeletonGallery } from "@portfolio/ui/Skeleton";
import hobbiesData from "../data/hobbies-gallery.json";
import { getTranslator } from "../libs/i18n.ts";
import { prefixWithSlash } from "../functions/string.ts";
const __ = await getTranslator(Astro.currentLocale);
---

<section class="hobbies animate-fade-in animation-delay-300">
  <div class="container medium home">
    <h3 class="hobbies__title">{__(prefixWithSlash("My Hobbies"))}</h3>
  </div>
  <div class="container">
    <PhotoGrid
      maxRows={4}
      client:only="preact"
      images={hobbiesData}
      rowHeight={200}
      gap="5rem"
    >
      <div slot="fallback">
        <SkeletonGallery length={9} />
      </div>
    </PhotoGrid>
  </div>
</section>

<style>
  .hobbies__title {
    padding-bottom: 1rem;
  }

  .hobbies {
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
  }

  .hobbies ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .frameworks .framework img {
    display: block;
    border-radius: 0.5rem;
    /* background: red; */
  }

  .frameworks .list li {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .frameworks .list .framework__name {
    text-decoration: underline;
    color: var(--color-primary) !important;
  }

  .frameworks .framework__description {
    grid-column: 2 / span 4;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(150px, 100%), 1fr));
    gap: 1rem;
  }
</style>
