---
import { getCollection } from "astro:content";
import { getTranslator } from "../libs/i18n.ts";
import { prefixWithSlash } from "../functions/string.ts";
const inspirations = await getCollection("inspirations");
const __ = await getTranslator(Astro.currentLocale);
---

<section class="inspirations animate-fade-in animation-delay-300">
  <h3 data-h3-portfolio class="inspirations__title">
    {__(prefixWithSlash("My inspirations"))}
  </h3>
  <div class="flex flex-col text-[var(--color-secondary)]">
    {
      inspirations.map((inspiration) => (
        <div class="frameworks">
          <ul class="list">
            <div class="link">
              <li class="framework">
                <a href={inspiration.data.link}>
                  <span class="framework__name"> {inspiration.data.title}</span>
                </a>
              </li>
            </div>
          </ul>
        </div>
      ))
    }
  </div>
</section>

<style>
  .inspirations__title {
    padding-bottom: 0.5rem;
  }

  .inspirations {
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
  }

  .inspirations ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .inspirations ul li::before {
    content: "•";
    margin-right: 0.5em;
  }

  .techo__name {
    font-family: "Inter" !important;
    letter-spacing: normal;
    font-weight: 100 !important;
    padding-bottom: 1rem;
  }

  .frameworks .list {
    display: flex;
    flex-direction: column;
    gap: 0;
    line-height: 1.6;
  }

  @media only screen and (min-width: 1370px) {
    .frameworks .list li {
      list-style: disc;
      padding-bottom: 0.5rem;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 700px;
      display: block;
    }
  }

  @media only screen and (max-width: 930px) {
    .frameworks .list li {
      list-style: disc;
      padding-bottom: 0.5rem;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 600px;
      display: block;
    }
  }

  @media only screen and (max-width: 700px) {
    .frameworks .list li {
      list-style: disc;
      padding-bottom: 0.5rem;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 400px;
      display: block;
    }
  }

  @media only screen and (max-width: 500px) {
    .frameworks .list li {
      list-style: disc;
      padding-bottom: 0.5rem;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 350px;
      display: block;
    }
  }

  .frameworks .list li {
    list-style: none;
    padding-bottom: 0.5rem;
    text-wrap: nowrap;
  }

  .frameworks .list .framework__name {
    text-decoration: underline;
    color: var(--color-primary) !important;
  }
</style>
