---
interface Props {
  thumbnail: string | undefined;
  summary: string | undefined;
  title: string;
  techno: string[];
}

const { title, summary, techno } = Astro.props;
console.log(techno);
---

<div class="meta-description">
  <div class="meta">
    <div class="container-narrow">
      <div class="info">
        <h1 class="animate-slide-in animation-delay-100">
          {title.replace(/[^\p{L}\p{N}\s]/gu, "").trim()}
        </h1>
      </div>

      <div class="description animate-slide-in animation-delay-200">
        <p>{summary}</p>
      </div>

      <div class="techno">
        <div
          class="tags animate-fade-in animation-delay-300 list-none decoration-none flex flex-wrap gap-1"
        >
          {techno.map((i) => <span class="tag"> {i} </span>)}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .meta-description {
    display: block;
    position: sticky;
    top: 60px;
    height: fit-content;
    padding-bottom: 5rem;
  }

  .techno__item span {
    font-family: "Departure Mono" !important;
  }

  .description p {
    text-wrap: pretty;
  }

  .meta h1 {
    /* font-family: "Inter" !important; */
    font-family: "Departure Mono" !important;
    font-style: normal;
    font-size: 4rem;
    line-height: 1;
  }

  @media screen and (max-width: 590px) {
    .meta h1 {
      font-size: 3rem;
      line-height: 1;
    }
  }
</style>
