---
import { getSkills } from "../data/skills";
import { getTranslator } from "../libs/i18n.ts";
const lang = Astro.currentLocale;
const __ = await getTranslator(lang);
const skills = await getSkills(lang);
---

<section class="skills">
  <h3 class="skills__title">{__("favorite tech")}</h3>
  <div class="grid">
    {
      skills.map((skill) => (
        <div class={skill.name}>
          <div class="frameworks">
            <ul class="list">
              {skill.frameworks?.map((framework) => (
                <div class="link">
                  <li class="framework">
                    <a href={framework.href}>
                      <span class="framework__name"> {__(framework.name)}</span>
                    </a>
                    <span class="framework__description">
                      {__(framework.description ?? "")}
                    </span>
                  </li>
                </div>
              ))}
            </ul>
          </div>
        </div>
      ))
    }
  </div>
</section>

<style>
  .skills__title {
    font-size: 2.5rem !important;
    padding-bottom: 0.5rem;
  }

  .skills {
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
  }

  .skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .skills ul li::before {
    content: "•";
    margin-right: 0.5em;
  }

  .techo__name {
    font-family: "Inter" !important;
    letter-spacing: normal;
    font-weight: 100 !important;
    padding-bottom: 1rem;
  }

  .frameworks .list {
    display: flex;
    flex-direction: column;
    gap: 0;
    line-height: 1.6;
  }

  @media only screen and (min-width: 1370px) {
    .frameworks .list li {
      list-style: disc;
      padding-bottom: 0.5rem;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 700px;
      display: block;
    }
  }

  @media only screen and (max-width: 930px) {
    .frameworks .list li {
      list-style: disc;
      padding-bottom: 0.5rem;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 600px;
      display: block;
    }
  }

  @media only screen and (max-width: 700px) {
    .frameworks .list li {
      list-style: disc;
      padding-bottom: 0.5rem;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 400px;
      display: block;
    }
  }

  @media only screen and (max-width: 500px) {
    .frameworks .list li {
      list-style: disc;
      padding-bottom: 0.5rem;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 350px;
      display: block;
    }
  }

  .frameworks .list li {
    list-style: none;
    padding-bottom: 0.5rem;
    text-wrap: nowrap;
  }

  .frameworks .list .framework__name {
    text-decoration: underline;
    color: var(--color-primary) !important;
  }

  .frameworks .framework__description {
    grid-column: 2 / span 4;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
  }
</style>
