---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Search } from "../../components/search/Search.tsx";
import Blog from "../../components/Blog.astro";
import { getTranslator } from "../../libs/i18n.ts";

const articles = await getCollection("blog");
const __ = await getTranslator(Astro.currentLocale);
---

<Layout>
  <div class="container container-narrow">
    <section class="blog-posts">
      <h3>{__("Tous mes articles")}</h3>
      <Blog />
    </section>
  </div>
</Layout>

<style>
  .blog-posts h3 {
    font-family: "Inter" !important;
    font-weight: 100;
    font-size: 2rem !important;
  }

  .blog-posts {
    padding-block: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space);
  }
</style>
