---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { filterLang, getTranslator, filterSeries } from "../../libs/i18n.ts";
import Collection from "../../components/Collection.astro";
import { type OptionsCollection } from "../../../config.ts";
import { itemNormalizer } from "../../functions/article.ts";

const docSeries = await getCollection(
  "series",
  filterSeries(Astro.currentLocale)
);

const series = docSeries.map((item) => ({
  title: item.data.title,
  ...item,
}));

const allPages = await getCollection("blog", filterLang(Astro.currentLocale));

const __ = await getTranslator(Astro.currentLocale);

const doc = itemNormalizer([allPages, series]);

const options: OptionsCollection = {
  showYear: true,
};
---

<Layout>
  <div class="container container-narrow">
    <section class="blog-posts">
      <div class="divide-y divide-[var(--border-color)]">
        {
          doc.map((collection) => (
            <Collection {...collection} options={options} />
          ))
        }
      </div>
    </section>
  </div>
</Layout>

<style>
  .blog-posts h3.title {
    font-family: "Inter" !important;
    font-weight: 100;
    font-size: 2rem !important;
  }

  .blog-posts {
    padding-block: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space);
  }
</style>
