---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Search } from "../../components/search/Search.tsx";
import Blog from "../../components/Blog.astro";

const articles = await getCollection("blog");
---

<Layout>
  <div class="container container-narrow">
    <section class="blog-posts">
      <h3>Tous mes articles</h3>
      <Search articles={articles} client:load />
      <Blog />
    </section>
  </div>
</Layout>

<style>
  .blog-posts h3 {
    font-style: italic;
    font-weight: 100;
    font-size: 4rem !important;
  }

  .blog-posts {
    padding-block: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space);
  }
</style>
