:root {
  --container-padding: clamp(1rem, 4vw, 8rem);
  --container-width: calc(100vw - var(--container-padding) * 2);
}

.container {
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  max-width: 100em;
}

.medium {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

@media screen and (min-width: 768px) {
  .medium {
    padding-left: calc(var(--container-padding) * 1.5);
    padding-right: calc(var(--container-padding) * 1.5);
  }
}

@media screen and (min-width: 1200px) {
  .medium {
    padding-left: calc(var(--container-padding) * 4);
    padding-right: calc(var(--container-padding) * 4);
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding-top: 7rem;
}
