:root {
  --container-padding: clamp(2em, 8vw, 8em);
  --container-width: calc(100vw - var(--container-padding) * 2);
}

/* 
@media only screen and (max-width: 499px) {
  :root {
    --container-padding: 2rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1024px) {
  :root {
    --container-padding: 32px;
  }
}

@media only screen and (min-width: 1370px) {
  :root {
    --container-padding: 20px;
    --container-width: 1330px;
  }
} */

@media screen and (min-width: 1200px) {
  .stack {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-block: 2.5rem;
  }
}

.container {
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  max-width: 100em;
}

.medium {
  padding-left: calc(var(--container-padding) * 2);
  padding-right: calc(var(--container-padding) * 2);
}

/* .container-narrow {
  --container-width: 600px;
} */

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding-top: 3rem;
}
