---
import { render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import MetaDescription from "../../components/MetaDescription.astro";
import Prose from "@portfolio/ui/Prose";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

const { Content } = await render(project);

const { seo: seoProps, title, thumbnail, summary, techno } = project.data;

const metaData = {
  title: project.data.title,
  description: project.data.description,
  image: project.data.thumbnail,
};

const seo = seoProps ? seoProps : metaData;
---

<Layout {...seo}>
  <div class="container">
    <section class="projects">
      <div class="meta">
        <MetaDescription
          thumbnail={thumbnail}
          title={title}
          summary={summary}
          techno={techno}
        />
      </div>

      <div class="content">
        <Prose>
          <Content />
        </Prose>
      </div>
    </section>
  </div>
</Layout>

<style>
  .projects {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    padding-block: 3rem;
  }

  @media screen and (min-width: 1200px) {
    .projects {
      position: relative;
      display: grid;
      gap: 5rem;
      grid-template-columns: repeat(2, 1fr);
      z-index: 2;
    }
  }

  @media screen and (max-width: 590px) {
    .container-narrow .info .tags {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  .content {
    padding-bottom: 0;

    h3,
    h4,
    h5,
    h6 {
      padding-top: 1.5rem;
      letter-spacing: normal;
      font-family: "Inter" !important;
      color: var(--color-primary);
      font-weight: 700;
    }

    h2 {
      font-family: "Inter" !important;
      text-align: left;
      white-space: normal;
      word-break: break-word;
      font-size: 2rem;
    }

    img {
      padding-block: 1rem;
      border-radius: 0.5rem !important;
    }

    video {
      padding-block: 1rem;
      border-radius: 0.5rem;
      width: -webkit-fill-available;
    }
  }
</style>
