button > * {
  font-family: "JetBrains Mono" !important;
}

.btn {
  border: var(--border);
  padding: 0.2rem 0.9rem;
  border-radius: var(--rounded);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 3px 3px #000;
  transition: box-shadow 0.1s;
  color: white;
  font-family: "JetBrains Mono";
}

.btn:hover {
  filter: brightness(1.4);
}

.btn .icon svg {
  fill: white;
  transform-origin: center;
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

.btn-primary {
  transition: box-shadow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: box-shadow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-color: var(--contrast);
}

.btn-primary:hover {
  transform: translate(-4px, -4px);
  box-shadow: 6px 6px #000;
  background-color: var(--hover-primary);
}

.btn:hover .icon svg {
  transform-origin: center;
  transform: rotate(45deg);
}

.btn-secondary {
  box-shadow: none;
  border: none;
  background-color: black;
  width: 100%;
  height: 100%;
}
