button > * {
  font-family: "Departure Mono" !important;
}

.btn {
  border: var(--border-btn);
  padding: 0.2rem 0.9rem;
  border-radius: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 3px 3px #000;
  transition: box-shadow 0.1s;
  color: var(--color-primary);
  font-family: "Departure Mono";
}

.btn:hover {
  filter: var(--filter-brightness);
}

.btn-primary {
  transition:
    box-shadow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:
    box-shadow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-color: var(--contrast);
}

.btn-primary:hover {
  transform: translate(-4px, -4px);
  box-shadow: 6px 6px #000;
  background-color: var(--hover-primary);
  color: var(--color-primary);
}
