/* HERO */
.hero {
  position: relative;
  display: grid;
  width: 100%;
  place-items: center;
  height: 100%;
  font-size: var(--size);
  z-index: 1;
  padding-bottom: 5rem;
  padding-top: 1rem;
}

/* .hero::before {
  content: "";
  background-image: linear-gradient(
      to right,
      rgb(145 145 145 / 18%) 1px,
      #00000000 1px
    ),
    linear-gradient(to bottom, rgb(255 255 255 / 10%) 1px, #4c4b4b61 1px);
  background-size: 20px 20px;
  background-position: center;
  background-repeat: repeat;
  mask-image: radial-gradient(circle at center, black 0%, transparent 70%);
  mask-size: cover;
  mask-repeat: no-repeat;
  inset: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1000;
} */

.hero .wrapper::before,
.hero .wrapper::after {
  --contrast: #007aec94;
  /* background: url("/shape.png"); */
  content: "";
  position: absolute;
  width: 38px;
  aspect-ratio: 1 / 1;
  z-index: -100;
  inset: 0;
  animation: spin 15s linear infinite normal;
  background: var(--contrast);
  box-shadow: inset 0 0px 5px -3px #6b6b6b;
  border-radius: var(--rounded);
}

.hero .wrapper::before {
  left: 200px;
}

.hero .wrapper::after {
  left: 900px;
  top: 262px;
  animation: moveY 25s linear infinite alternate;
}

.hero p {
  text-wrap: balance;
}

@keyframes moveY {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-1turn);
  }
}

@media screen and (min-width: 1350px) {
  .hero p {
    width: 750px;
    line-height: 1.6;
    flex-wrap: wrap;
    text-wrap: balance;
  }
  .hero h1 {
    max-width: 100%;
  }
  .hero h1 span {
    font-size: inherit;
  }
  .hero span {
    font-size: 24px;
  }
  .hero .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .hero .description {
    gap: var(--space);
  }

  .hero .description {
    width: 100%;
  }

  .hero p {
    width: 100%;
    line-height: 1.6;
    display: flex;
    flex-wrap: wrap;
    text-wrap: balance;
  }
}
