/* HERO */
.hero {
  z-index: 1;
  position: relative;
  padding-bottom: 5rem;
}

.hero::before,
.hero::after {
  --contrast: #007aec94;
  /* background: url("/shape.png"); */
  content: "";
  position: absolute;
  width: 38px;
  aspect-ratio: 1 / 1;
  z-index: -100;
  inset: 0;
  animation: spin 15s linear infinite normal;
  background: var(--contrast);
  box-shadow: inset 0 0px 5px -3px #6b6b6b;
  border-radius: var(--rounded);
}

.hero::before {
  left: 10px;
  top: 5px;
}

.hero::after {
  left: 805px;
  top: 62px;
  animation: moveY 25s linear infinite alternate;
}

@keyframes moveY {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-1turn);
  }
}

@media screen and (min-width: 1350px) {
  .hero p {
    width: 750px;
    line-height: 1.6;
    flex-wrap: wrap;
    /* text-wrap: balance; */
  }
  .hero h1 {
    max-width: 100%;
  }
  .hero h1 span {
    font-size: inherit;
  }
  .hero span {
    font-size: 24px;
  }
  .hero .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .hero .description {
    gap: var(--space);
  }

  .hero .description {
    width: 100%;
  }

  .hero p {
    width: 100%;
    line-height: 1.6;
    display: flex;
    flex-wrap: wrap;
    /* text-wrap: balance; */
  }
}
