.item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: background-color 0.3s;
  /* padding: 0.5rem; */
  border-radius: var(--rounded);
}

.item__title {
  font-family: "Inter" !important;
}

.item:hover h3 {
  text-decoration: underline;
}

.item:hover {
  outline: 1px solid rgba(255, 255, 255, 0.185);
  outline-offset: 8px;
}
.item__header-icon {
  transition: transform 0.2s;
}

.item:hover .item__header-icon {
  transform: rotate(45deg);
}

.item__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.item__info h3 {
  font-size: 1.2rem !important;
  font-style: bold;
}

.item__info > * {
  font-size: 0.9rem !important;
  font-weight: normal !important;
}

.item__info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.item__img img {
  width: 100%;
  display: block;
  border-radius: var(--rounded);
  max-width: 200px;
}

/* petits écrans */
@media only screen and (max-width: 800px) {
  .item__img {
    display: none;
  }
}
