.outline__wrapper {
  display: none;
}

.outline {
  line-height: 1.6;
  max-width: 300px;
  width: max-content;
  border-radius: 1rem;
}

.outline a:hover {
  color: var(--contrast);
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .outline__wrapper {
    display: block;
    position: sticky;
    top: 20px;
    height: fit-content;
    font-size: 0.8rem;
    z-index: 100;
  }
}
