.tags {
  font-family: "Departure Mono" !important;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 0.5rem;
}

.tag {
  position: relative;
  font-family: "Departure Mono" !important;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  width: max-content;
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 0.8rem;
  border-radius: 1rem;
  border: var(--border);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tag::before {
  display: block;
  content: "";
  background-color: var(--contrast);
  width: 13px;
  height: 13px;
  border-radius: 100%;
}
