.tags {
  font-family: "JetBrains Mono" !important;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 0.5rem;
}

.tag {
  font-family: "JetBrains Mono" !important;
  padding-inline: 0.2rem;
  width: max-content;
  background-color: var(--contrast);
  color: white;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  border: var(--border);
}
