---
import Hero from "../components/Hero.astro";
import Blog from "../components/Blog.astro";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
import Skills from "../components/Skills.astro";

export type PropsBlog = CollectionEntry<"blog">;

const articles = await getCollection("blog");
---

<Layout>
  <div class="container">
    <Hero />
    <Skills />
    {articles.length >= 1 && <Blog />}
  </div>
</Layout>
