---
import Hero from "../components/Hero.astro";
import Blog from "../components/Blog.astro";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";

export type PropsBlog = CollectionEntry<"blog">;

const articles = await getCollection("blog");

console.log(articles);
---

<Layout>
  <div class="page-wrapper">
    <div class="container">
      <Hero />
      <Blog />
    </div>
  </div>
</Layout>
