---
import Layout from "../layouts/Layout.astro";

console.log("This runs in your terminal, not the browser!");
---

<Layout>
  <div class="page-wrapper">
    <div class="container">
      <section class="hero">
        <div class="wrapper">
          <h1 class="split">See you soon. Great things are coming.</h1>
          <div class="description">
            <h3>
              <span
                >I’m a web developer passionate about crafting sustainable and
              </span>
              <span><mark>human-centered experiences.</mark></span>
              <span
                >I bring adaptable, thoughtful solutions to a constantly
                evolving digital world.</span
              >
            </h3>
          </div>
        </div>
      </section>
    </div>
  </div>
</Layout>
