/** linear calculator to imitate springs : https://easingwizard.com/ **/
html {
  --spring-smooth: cubic-bezier(0.186, 0.964, 0.68, 1);
  --spring-smooth-time: 1200ms;
  @supports (animation-timing-function: linear(0, 1)) {
    /* https://easingwizard.com/#0a1i1j6k55v11003I */
    --spring-smooth: linear(
      0,
      0.011 0.9%,
      0.05 2.1%,
      0.4 9.5%,
      0.508 12.3%,
      0.6 15.2%,
      0.682 18.4%,
      0.753 21.9%,
      0.812 25.7%,
      0.861 29.9%,
      0.9 34.5%,
      0.931 39.7%,
      0.973 52.5%,
      0.992 70%,
      1
    );
  }
}

/* prettier-ignore */
@utility animate-fade-in {
  animation: fadeIn 0.5s ease-in-out both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* prettier-ignore */
@utility animate-slide-in {
  animation: slideIn var(--spring-smooth) 850ms both;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* prettier-ignore */
@utility animate-perspective-in {
  animation: perspectiveIn var(--spring-smooth) var(--spring-smooth-time) both;
}

@keyframes perspectiveIn {
  from {
    opacity: 0;
    transform: translateY(100%) rotateX(-45deg);
  }
  to {
    opacity: 1;
    transform: translateY(0%) rotateX(0deg);
  }
}
/* prettier-ignore */
@utility animation-delay-* {
  animation-delay: --value(integer)ms;
}

/** Rotate animation for the YCombinator button **/
/* prettier-ignore */
@property --animate-duration {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotateBackground {
  0% {
    --animate-duration: 0deg;
  }
  100% {
    --animate-duration: 360deg;
  }
}
