@font-face {
  font-family: "Departure Mono";
  src:
    url("../../fonts/DepartureMono-Regular.woff2") format("woff2"),
    url("../../fonts/DepartureMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* TYPOGRAPHIE */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary) !important;
}

/* h2:not(:where([data-markdown] *)) {
  font-family: "Instrument Serif" !important;
  font-size: 2rem;
} */

:where([data-markdown]) {
  h1 {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 450;
    font-style: normal;
    line-height: 1.065;
    font-size: 3.8rem;
  }
}

p:not(:where([data-markdown] *)) {
  color: var(--color-secondary);
  font-size: var(--size);
  line-height: var(--line-height);
  padding-block: 1rem;
  text-wrap: pretty;
}

strong {
  color: var(--color-primary);
}
