@font-face {
  font-family: "Departure Mono";
  src:
    url("../../fonts/DepartureMono-Regular.woff2") format("woff2"),
    url("../../fonts/DepartureMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* TYPOGRAPHIE */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary) !important;
}

h2:not(:where([data-markdown] *)) {
  font-family: "Instrument Serif" !important;
  font-size: 2rem;
}

h3:not(:where([data-markdown] *)) {
  font-family: "Instrument Serif" !important;
  font-size: 1.4rem;
}

:where([data-markdown]) {
  h1 {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 450;
    font-style: normal;
    line-height: 1.065;
    margin-bottom: 1em;
    font-size: 3.8rem;
  }

  .outline__wrapper {
    ul li {
      font-family: "Inter" !important;
    }
  }

  p,
  ul,
  ul li,
  em,
  strong {
    font-family: "Inter" !important;
  }
}

p:not(:where([data-markdown] *)) {
  color: var(--color-secondary);
  font-size: var(--size);
  line-height: var(--line-height);
  padding-block: 1rem;
  text-wrap: pretty;
}

h4,
h5,
h6,
*,
body {
  /* color: var(--color-secondary); */
}

strong {
  color: var(--color-primary);
}

ul li:not(:where([data-markdown] *)),
ol li:not(:where([data-markdown] *)) {
  list-style: decimal;
  line-height: 1.6;
}

ul:not(:where([data-markdown] *)),
ol:not(:where([data-markdown] *)) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-block: 1rem;
  margin-left: 50px;
}
