/* TYPOGRAPHIE */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
}

h1,
h1 span {
  font-family: "Instrument Serif" !important;
  font-style: italic;
  font-weight: 400;
  color: var(--color-primary);
}

h1 {
  font-size: 6.1rem;
  line-height: 0.9;
}

@media screen and (max-width: 900px) {
  h1 {
    letter-spacing: -2.5px;
    line-height: 1;
    font-size: 4rem;
  }
}

@media screen and (min-width: 1350px) {
  h1 {
    font-size: 8rem;
  }
}

h2:not(:where([data-markdown] *)) {
  font-family: "Instrument Serif" !important;
  font-size: 2rem;
}

h3:not(:where([data-markdown] *)) {
  font-family: "Instrument Serif" !important;
  font-size: 1.4rem;
}

p:not(:where([data-markdown] *)) {
  color: var(--color-secondary);
  font-size: var(--size);
  line-height: var(--line-height);
  padding-block: 1rem;
  text-wrap: pretty;
}

h4,
h5,
h6,
*,
body {
  font-family: "Inter" !important;
  color: var(--color-secondary);
}

button {
  font-family: "JetBrains Mono" !important;
}

strong {
  color: var(--color-primary);
}

ul li:not(:where([data-markdown] *)),
ol li:not(:where([data-markdown] *)) {
  list-style: decimal;
  line-height: 1.6;
}

ul:not(:where([data-markdown] *)),
ol:not(:where([data-markdown] *)) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-block: 1rem;
  margin-left: 50px;
}
