---
import FooterComponent from "@portfolio/ui/Footer";
---

<div class="container-narrow">
  <FooterComponent
    info={{
      title: "A propos",
      description: `Ingénieur logiciel, je conçois des systèmes numériques robustes,
durables et centrés sur l’utilisateur.`,
    }}
    links={[
      {
        title: "Github",
        href: "https://github.com/elyseeMB",
      },
      {
        title: "Linkedin",
        href: "https://www.linkedin.com/in/%CE%BEmmanuelito-mboussa-49099932a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app",
      },
    ]}
    contacts={[
      {
        title: "contact@eembouz.com",
        href: "mailto:contact@eembouz.com",
      },
    ]}
    property={{
      name: "blog.eembouz.com",
      url: "https://blog.eembouz.com",
    }}
  />
</div>
