---
import FooterComponent from "@portfolio/ui/Footer";
import { getTranslator } from "../../libs/i18n.ts";
const __ = await getTranslator(Astro.currentLocale);
---

<div class="container-narrow">
  <FooterComponent
    info={{
      title: __("A propos"),
      description: __(
        "Ingénieur de formation en réseaux et telecom, j'ai développé une expertise complémentaire en infrastructure logicielle et développement."
      ),
    }}
    links={{
      title: __("Réseaux"),
      items: [
        {
          title: "Github",
          href: "https://github.com/elyseeMB",
        },
        {
          title: "Linkedin",
          href: "https://www.linkedin.com/in/%CE%BEmmanuelito-mboussa-49099932a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app",
        },
        {
          title: __("Statistiques"),
          href: "https://umami-proxy.mboussaemmanuelito.workers.dev/share/UmUcMJfGKRHXxg3C",
        },
      ],
    }}
    contacts={{
      title: __("Contact"),
      items: [
        {
          title: "contact@eembouz.com",
          href: "mailto:contact@eembouz.com",
        },
      ],
    }}
    property={{
      name: "eembouz.com",
      url: "https://eembouz.com",
    }}
  />
</div>
