---
import HeaderComponent from "@portfolio/ui/Header";
import { getTranslator } from "../../libs/i18n.ts";
const __ = await getTranslator(Astro.currentLocale);
---

<div class="container-narrow">
  <HeaderComponent>
    <div class="actions">
      <a href="https://blog.eembouz.com">{__("Blog")}</a>
      <button class="btn btn-primary">
        <a href="mailto:contact@eembouz.com"> {__("Me contactez")} </a>
      </button>
    </div>
  </HeaderComponent>
</div>

<style>
  .actions {
    color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 2rem;
  }
</style>
