@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* LAYOUT */
@import "./layout/layout.css";

/* TOOLS */
@import "./tools/typography.css";
@import "./tools/theme.css";

/* MODULES */
@import "./modules/hero.css";
@import "./modules/mark.css";
@import "./modules/header.css";
@import "./modules/split.css";
@import "./modules/dock.css";
@import "./modules/card.css";
@import "./modules/tag.css";
@import "./modules/button.css";
@import "./modules/input.css";
@import "./modules/form.css";
/* @import "./modules/hr.css"; */
@import "./modules/bento.css";
@import "./modules/table.css";
/* @import "./modules/blockquote.css"; */
@import "./modules/item.css";
@import "./modules/search.css";
@import "./modules/outline.css";
@import "./modules/skeleton.css";
@import "./modules/markdown.css";

/* BLOCKS */
@import "./blocks/presentation.css";

/* PAGES */
@import "./pages/pattern.css";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="dark"] .bg-noise {
  position: relative;
}

:root[data-theme="dark"] .bg-noise::before {
  position: absolute;
  content: "";
  pointer-events: none;
  background: var(--url-image);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: 61;
}

body {
  background-color: var(--background);
}

pre {
  background: var(--secondary) !important;
  text-wrap: wrap;
}

@layer utilities {
  .container {
    margin: 0 auto;
    max-width: 100%;
  }

  .prose h2 {
    font-size: 1.2rem !important;
  }

  .prose h3 {
    font-size: 1rem !important;
  }

  .bg-secondary {
    background-color: var(--outline-wrapper);
  }

  .from-background {
    --tw-gradient-from: var(--background);
  }
}

.effect-blur::after {
  content: "";
  opacity: 1;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  pointer-events: none;
  transition: all 1s;
  position: absolute;
  inset: 0;
  -webkit-mask: linear-gradient(#000 60%, #0000);
  mask: linear-gradient(#000 60%, #0000);
}
