---
import Hero from "../components/Hero.astro";
import type { CollectionEntry } from "astro:content";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";

export type PropsBlog = CollectionEntry<"blog">;
---

<Layout>
  <div class="container">
    <Hero />
    <Skills />
  </div>
</Layout>
