---
import { getCollection } from "astro:content";

const articles = await getCollection("blog");
---

<section class="blog">
  <h3>Mes derniers articles</h3>
  <div class="stack">
    {
      articles
        .filter((article) => article.data.isDraft !== true)
        .sort((a, b) =>
          new Date(a.data.pubDate!).getTime() <
          new Date(b.data.pubDate!).getTime()
            ? 1
            : -1
        )
        .map((article, index) => (
          <a href={`/blog/${article.id}`}>
            <article class="card">
              <div class="card__header">
                <div class="card__header-number">
                  {index.toString().padStart(2, "0").includes("00")
                    ? "news"
                    : index.toString().padStart(2, "0")}
                </div>
                <div class="card__header-icon">&DownArrow;</div>
              </div>
              <div class="card__bottom">
                <div class="card__title">
                  <h3>{article.data.title}</h3>
                </div>
                <div class="card__img">
                  <img src={`${article.data.thumbnail}`} alt="" />
                </div>
              </div>
            </article>
          </a>
        ))
    }
  </div>
</section>

<style>
  .blog a {
    display: inline-flex;
  }
  .blog h3 {
    font-weight: 900;
    font-size: 5rem;
  }
</style>
