---
import { Image } from "astro:assets";
import { Picture } from "astro:assets";
import HeroImage from "../../public/hero.png";
---

<section class="hero">
  <div class="wrapper">
    <div class="left">
      <span>Je suis Elysee Mb.</span>
      <h1 class="split">Code, Musique & Science.</h1>
      <p class="description">
        Curieux de sciences, développeur, compositeur et amateur d’art. Je
        partage mes réflexions sur la programmation, la musique, la science ou
        parfois des analyses originales sur la littérature.
      </p>
      <!-- <form class="label">
        <input
          id="email"
          name="email"
          type="text"
          placeholder="Entrez votre email"
        />
        <button class="btn btn-secondary">
          <span class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              ><path
                d="M13.0508 12.361L7.39395 18.0179L5.97974 16.6037L11.6366 10.9468L6.68684 5.99707H18.0006V17.3108L13.0508 12.361Z"
              ></path></svg
            >
          </span>
          Envoyer</button
        >
      </form> -->
    </div>

    <div class="right">
      <Image class="hero-img" src={HeroImage} alt="Hero image" />
    </div>
  </div>
</section>

<style>
  img.hero-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    object-fit: cover;
  }

  @media screen and (min-width: 1350px) {
    .description {
      max-width: 650px !important;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding-block: 4rem;
  }

  strong {
    font-weight: 700;
  }

  /* Desktop (769px et plus) */
  @media only screen and (min-width: 769px) {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
      place-items: flex-start;
      justify-items: anchor-center;
      /* gap: 4rem; */
    }
  }
  .left {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  form.label input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
  }

  input::placeholder {
    color: rgba(255, 255, 255, 0.484);
  }

  .icon {
    width: 24px;
    height: 24px;
  }
</style>
