/* LAYOUT */
@import "./layout/layout.css";

/* TOOLS */
@import "./tools/reset.css";
@import "./tools/typography.css";
@import "./tools/theme.css";

/* MODULES */
@import "./modules/hero.css";
@import "./modules/bento.css";

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-noise {
  position: relative;
}

.bg-noise::before {
  position: absolute;
  content: "";
  pointer-events: none;
  background: var(--url-image);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: 1;
}

body {
  background-color: var(--background);
}
