/* LAYOUT */
@import "./layout/layout.css";

/* TOOLS */
@import "./tools/reset.css";
@import "./tools/typography.css";
@import "./tools/theme.css";

/* MODULES */
@import "./modules/hero.css";
@import "./modules/mark.css";
@import "./modules/header.css";
@import "./modules/split.css";
@import "./modules/dock.css";
@import "./modules/card.css";
@import "./modules/tag.css";
@import "./modules/button.css";
@import "./modules/input.css";
@import "./modules/form.css";
@import "./modules/article.css";

/* BLOCKS */
@import "./blocks/presentation.css";

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
}
