.bento {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.bento__item {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
  aspect-ratio: 1 / 1;
  border: var(--border);
  background-color: var(--bg-bento);
  overflow: hidden;
  transition: 0.277s border-color;
}

.bento__item:hover {
  border-color: var(--contrast);
}

.bento__item:nth-child(1) {
  grid-column: 1 / span 3;
  grid-row: 1;
}
.bento__item:nth-child(2) {
  grid-column: 4 / span 4;
  grid-row: 1;
}
.bento__item:nth-child(3) {
  grid-column: 4 / span 4;
  grid-row: 2;
}
.bento__item:last-child {
  grid-column: 1 / span 3;
  grid-row: 2;
}

img.bento__cover {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: contain;
}

.bento .block {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--bg-bento);
  border: var(--border);
  transform: translateY(2rem);
}

.bento .logo {
  width: 100%;
  height: 100%;
}

.bento .logo svg {
  width: 54px;
  height: 54px;
}

@media (max-width: 768px) {
  .bento {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  img.bento__cover {
    object-fit: fill;
  }

  .bento .block {
    transform: translateY(4rem);
  }

  .bento .description {
    padding-top: 0.5rem;
  }

  .bento__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.bento .description {
  line-height: 1.6;
  font-size: 0.8rem;
  text-wrap: pretty;
  padding-inline: 0.5rem;
}

.bento .title {
  padding-inline: 0.5rem;
}

.bento .link {
  width: 100%;
  height: 100%;
}

.bento .link::before {
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  z-index: 2;
  height: 100%;
}
