.card {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  align-content: space-between;
  gap: 1.5rem;
  border: 3px solid black;
  transition: all 0.2s;
  padding: 1rem;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 4rem;
  padding-bottom: 3rem;
}

.card__header-icon {
  transition: transform 0.2s;
}

.card:hover .card__header-icon {
  transform: rotate(45deg);
}

.card:hover h3 {
  color: var(--contrast);
}

.card h3 {
  font-size: 2.4rem !important;
  white-space: normal;
  word-break: break-word;
  max-width: 450px;
}

.card__bottom {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card:hover {
  box-shadow: 8px 8px 0px black;
  /* border-color: var(--contrast); */
}
