.card {
  --rounded-card: 0.5rem;
  --gap: 1rem;
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  align-content: space-between;
  gap: 1.5rem;
  border: var(--border);
  transition: box-shadow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: var(--gap);
  padding-bottom: 0;
  border-radius: var(--rounded-card);
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 4rem;
  padding-bottom: 3rem;
}

.card__header-icon {
  transition: transform 0.2s;
}

.card:hover .card__header-icon {
  transform: rotate(45deg);
}

.card:hover h3 {
  text-decoration: underline;
  color: var(--contrast);
}

.card h3 {
  font-size: 2.4rem !important;
  white-space: normal;
  word-break: break-word;
  max-width: 450px;
}

.card__bottom {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card__img {
  display: block;
  box-sizing: border-box;
  width: calc(100% + (2 * var(--gap)));
  margin-inline: -1rem;
}

.card__img img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.card:hover {
  box-shadow: 8px 8px 0px black;
  transform: translate(-4px, -4px);

  /* border-color: var(--contrast); */
}
