/* HERO */
.hero {
  position: relative;
  display: grid;
  place-items: center;
  padding-block: var(--space-2);
  min-height: 100vh;
  font-size: var(--size);
  z-index: 1;
}

.hero::before {
  content: "";
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: center;
  background-repeat: repeat;

  mask-image: radial-gradient(circle at center, black 0%, transparent 70%);
  mask-size: cover;
  mask-repeat: no-repeat;
  inset: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1000;
}

.hero h1 span {
  color: black;
}

.hero span {
  color: var(--color-secondary);
  font-weight: 500;
}

.hero .description {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-2);
}

.hero .wrapper::before,
.hero .wrapper::after {
  --contrast: #007aec94;
  /* background: url("/shape.png"); */
  content: "";
  position: absolute;
  width: 38px;
  aspect-ratio: 1 / 1;
  z-index: -100;
  inset: 0;
  animation: spin 15s linear infinite normal;
  background: var(--contrast);
  box-shadow: inset 0 0px 5px -3px #6b6b6b;
  border-radius: var(--rounded);
}

.hero .wrapper::before {
  left: 200px;
}

.hero .wrapper::after {
  left: 900px;
  top: 262px;
  animation: moveY 25s linear infinite alternate;
}

.hero img {
  display: flex;
  width: 150px;
}

.hero h1 {
  text-transform: uppercase;
  width: 100%;
}

.hero p {
  width: 400px;
  line-height: 1.6;
}

.hero h3 {
  max-width: 100%;
  font-size: var(--size);
  line-height: 1.6;
  letter-spacing: -0.8px;
}

.hero .description {
  width: 100%;
}

/* HEADER */

.hero .header {
  background: white;
  border-radius: var(--rounded-2);
  padding: 1rem;
  font-weight: 500;
}

.hero .header ul {
  display: flex;
  align-items: center;
  gap: var(--space);
}

.hero .header ul li {
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.hero .header ul li:hover {
  border-radius: var(--rounded);
  background-color: rgba(0, 0, 0, 0.05);
}

@keyframes moveY {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-1turn);
  }
}

@media screen and (min-width: 1350px) {
  .hero p {
    width: 750px;
    line-height: 1.6;
  }
  .hero h1 {
    max-width: 100%;
  }
  .hero h1 span {
    font-size: inherit;
  }
  .hero span {
    font-size: 24px;
  }
  .hero .description {
    max-width: 800px;
  }
  .hero .wrapper {
    gap: var(--space-3);
  }
}

@media screen and (max-width: 900px) {
  .hero .description {
    gap: var(--space);
  }

  .hero .description {
    width: 100%;
  }

  .hero p {
    width: 100%;
    line-height: 1.6;
    display: flex;
    flex-wrap: wrap;
  }
}
