.tags {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.tag {
  padding: 0.5rem 0.5rem;
  width: max-content;
  font-weight: 700;
  background-color: var(--contrast-2);
  color: black;
  font-size: 0.8rem;
  border-radius: 1rem;
  border: 2px solid black;
}
